<div id="content" class="portal about">
    <div class="resize">
        <div class="wrapper">
          <div class="row">
              <!-- <div class="header">
                  <h1>မိုင်အိုလ်ဗို့</h1>
              </div> -->
              <div>
                  <p>"Ordbok" ဆိုသည့် စကားလုံးသည် နော်ဝေစကားလုံးဖြစ်ပြီး အဘိဓါန်ဟု အဓိပ္ပာယ်သက်ရောက်သည်။ ဒါ့ကြောင့် {name} ကို မြန်မာအဘိဓါန်လို့လည်း ဆိုလိုနိုင်ပါသည်။
                  ၂၀၁၀ မှစ ယခုလက်ရှိအချိန်ထိ မြန်မာအွန်လိုင်းအဘိဓါန်များမှ အသုံးများဆုံးအဘိဓါန် တစ်ခုလည်းဖြစ်သည်။ အဘိဓါန် (ဘာသာ) {dictionaries.total} ခုနှင့် ဆိုက်(ဘာသာ) {locale.total} ခုကို အသုံးပြုနိုင်ပါသည်။</p>
              </div>
          </div>
          <div class="row">
              <div class="header">
                  <h3 class="ico">လာရောက်လည်ပတ်မှုအချက်အလက်</h3>
              </div>
              <div class="data">
                  <p>မိုင်အိုလ်ဗို့ လာရောက်လည်ပတ်မှုအချက်အလက်များကို ပြီးခဲ့သည့် {visits.created} မှ ပြန်လည်တွက်ချက်မှုအရ ဧည့်သည်ပေါင်း {visits.total} ဦးနှင့် လာရောက်လည်ပတ်မှုစုစုပေါင်း {visits.sum} ကြိမ်ရှိပါသည်။</p>
              </div>
          </div>

          <div class="row">
              <!-- <div class="header">
                  <h2>အဘိဓါန်များ</h2>
              </div> -->
              <div class="dictionaries">
                {dictionaries}
              </div>
          </div>

          <div class="row">
              <!-- <div class="header">
                  <h2>ဝေမျှရန်</h2>
              </div> -->
              <div class="data social text-center">
                  <a href="https://plus.google.com/+Myordbok-dictionary" target="_blank" class="icon-gplus" title="+MyOrdbok dictionary"><span>+MyOrdbok dictionary</span></a>
                  <a href="https://plus.google.com/share?url={http}/{uriCurrent}" target="_blank" class="icon-google-circles" title="share on Google+"><span>...share on Google+</span></a>
                  <a href="http://www.facebook.com/sharer.php?u={http}/{uriCurrent}" target="_blank" class="icon-facebook"><span>...share on Facebook</span></a>
                  <a href="http://twitter.com/share?url={http}/{uriCurrent}&amp;text=online Myanmar dictionary&amp;hashtags=MyOrdbok" target="_blank" class="icon-twitter"><span>...share on Twitter</span></a>
              </div>
          </div>

          <div class="row">
              <div class="header">
                  <h3 class="ico">ရည်ရွယ်ချက်</h3>
              </div>
              <div class="data">
                  <p>စက်ကိရိယာတိုင်းမှာသုံးရန်လွယ်ကူပြီး အဓိပ္ပာယ်များပိုမိုပြည့်စုံစေရန်နှင့် အသုံးပြုသူတိုင်းအတွက် အကျိုးဖြစ်စေမည့် ပညာရပ်နှင့်ဗဟုသုတဆိုင်ရာများကိုလည်း မိုင်အိုလ်ဗို့မှ ဆက်လက်ထည့်သွင်းရန် ရည်ရွယ်ထားပါသည်။</p>
              </div>
          </div>

          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="Protocol">အစီအစဉ်</h3>
              </div>
              <div class="data">
                  <p>ရှာရတာ ပိုမိုလွယ်ကူပြီး၊ အနက်များအလျှင်မြန်ဆုံးပြသနိုင်ရန်အတွက် အချိန်နှင့်ကာလအလျှောက် နည်းပညာအပြောင်းအလဲမှုအပေါ်မှုတည်ပြီး ၎င်း၏ ဆောင်ရွက်ချက်များအပါအဝင်၊ ဝေါဟာရများနှင့် အစီအစဉ်များကို စနစ်တကျ တိုးမြင့်နေပါသည်။</p>
              </div>
          </div>

          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="function">ဆောင်ရွက်မှု</h3>
              </div>
              <div class="data">
                  <p>လေ့လာဆည်းပူးသူတိုင်းအတွက် ဒေသအလိုက်မတတ်မဖြစ်အဓိကဘာသာစကားများအား အဓိကထားပြီး ပြုစုထားသည့်အလျောက် ရည်ရွယ်ချက်များနှင့်ကိုက်ညီသည့်အစီအစဉ်များကို မိုင်အိုလ်ဗို့ ဆက်လက်ကြိုးစားဆောင်ရွက်သွားပါမည်။</p>
              </div>
          </div>

          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="Help">ဝိုင်းဝန်းကူညီရန်</h3>
              </div>
              <div class="data">
                  <p>အချက်အလက်များထည့်သွင်းနေဆဲဖြစ်ပါသဖြင့်အမှားအယှင်းများတွေ့ရှိပါက အကြောင်းကြားပေးရန်နှင့် ရည်ရွယ်ချက်များနှင့်ကိုက်ညီသည့် သင့်ထင်မြင်ချက်အသစ်များ (သို့) ရည်ရွယ်ချက်များနှင့်မကိုက်ညီသည့် လုပ်ဆောင်မှုများကို အသိပေးအကြောင်းကြားပေးရန် ဖိတ်ခေါ်လိုပါသည်။</p>
              </div>
          </div>

          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="Donate">လှူဒါန်းရန်</h3>
              </div>
              <div class="data">
                  <p>လိုအပ်နေသည့် အနက်အဓိပ္ပာယ်များထည့်သွင့်နိုင်ရန်နှင့် ရှိထားသည့်အနက်အဓိပ္ပာယ်များပိုမိုပြည့်စုံနိုင်ရန်အတွက် သော်လည်းကောင်း၊ မိုင်အိုလ်ဗို့ဆက်လက်ရှင်သန်ပြီး စက်ကိရိယာများ၏သတ်မှတ်ချက်နှင့်အညီ ပြေးဆွဲနိုင်ရန်အတွက် သင့်ကူညီမှုသည် မိုင်အိုလ်ဗို့၏တစ်ခုသော  အနာဂတ်ဖြစ်ပါသည်။ မည်သည့်ပမာဏဖြစ်စေ သင့်ရဲ့ပံ့ပိုးမှုကို ဖိတ်ခေါ်လျှင့် အသုံးပြုသူအားလုံး ဉာဏ်ပညာအပေါင်းနှင့်ပြည့်စုံပါစေ။</p>
              </div>
          </div>

          <div class="row">
              <!-- <div class="header">
                  <h2>PayPal</h2>
                  <p>မှ လှူဒါန်းရန်</p>
              </div> -->
              <div class="data paypal text-center">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <p>မိုင်အိုလ်ဗို့ ဆက်လက်ရှင်သန်နိုင်ရန်နှင့် အချက်အလက်များ ပြည့်ပြည့်စုံစုံထည့်သွင်းနိုင်ရန်အတွက် ကူညီပံ့ပိုးလိုပါသည်။</p>
                    <input type="hidden" name="cmd" value="_s-xclick" />
                      <input type="hidden" name="hosted_button_id" value="R299TDA7D6B5U" />
                      <p class="icon-paypal">PayPal မှတောက်လျှောက်</p>
                      <button type="submit" name="submit">လှူဒါန်းရန်</button>
                  </form>
              </div>
          </div>
          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="Version">မိုင်အိုလ်ဗို့ {version}</h3>
              </div>
              <div class="data">
                  <p>ပထမနံပါတ်သည် မိုင်အိုလ်ဗို့ မည်မျှအပြောင်းအလဲလုပ်ထားခြင်းကိုဆိုလိုပြီး၊ ဒုတိယနံပါတ်သည် ပထမနံပါတ်၏အပြောင်းအလဲနဲ့ဆက်စပ်ပြီး မည်မျှထိန်းသိမ်းပြုပြင်ခဲ့ခြင်းကိုဆိုလိုသည်။
                    တတိယနံပါတ်သည် အခြေခံလိုအပ်ချက်များ ပြုပြင်မွမ်းမံခြင်း အဆင့်ဖြစ်ပြီး၊ အဓိက လုပ်ဆောင်ချက်မှာ cookie အချက်အလက်များ၏ သော့အဖြစ်သုံးထားသည်။ ထိုကြောင့် အမှတ်စဉ်များအပြောင်းအလဲရှိတိုင်း cookie အသစ်ပြုလုပ်ပါလိမ့်မည်။</p>
              </div>
          </div>

          <div class="row note">
              <div class="header">
                  <h3 class="ico function" title="Note">မှတ်ရန်</h3>
              </div>
              <div class="data">
                <p>အဘိဓါန်ကိုအဓိကထားပြီး အနက်အဓိပ္ပာယ်များကို နေ့စဉ်နှင့်အမျှရှာဖွေစုဆောင်းနေပါသည်။</p>
                <p>ငွေကြေးထောက်ပံ့မှုနှင့်ပတ်သက်သည့် အလှူဒါနများကို MyOrdbok တိုးတက်ဖွံ့ဖြိုးမှု အရေး၌သာ အသုံးပြုသွားမည်ဖြစ်ပါသည်။</p>
              </div>
          </div>
        </div>
    </div>
</div>
