<div id="content" class="portal">
    <div class="resize">
        <div class="define">
            <dl class="dl {p} word">
                <dt class="dt"><p>{q}<span class="speech {l} zA icon-sound"></span></p></dt>
                <dd class="dd">
                    <dl class="help"><dt><span>Help us!</span></dt>
                        <dd>
                            <form method="POST">
                              <h1><span>{q}</span> did not match any definition lists!</h1>
                              <div class="">
                                <input type="text" name="source" value="">
                              </div>
                              <div class="">
                                <span>definition</span>
                                <textarea name="def"></textarea>
                              </div>
                              <div class="">
                                <span>Usage</span>
                                <textarea name="exam"></textarea>
                              </div>
                              <div class="submit">
                                <input type="submit" name="" value="submit">
                              </div>
                              <p>asdfasdf</p>
                            </form>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </div>
    </div>
</div>


<!-- <div id="content" class="portal">
    <div class="resize">
        <div class="wrapper">
          <h1><span>{q}</span> did not match any definition!</h1>
          <ul>
              <li>In order to get the most relevant definition...</li>
              <li>...try with general words!</li>
              <li>...check the spelling!</li>
              <li>...make sure that you are defining <strong>{q}</strong> in {lang.name}!</li>
          </ul>
        </div>
    </div>
</div> -->
