{fonts.detail}
<div id="content" class="portal">
    <div>
        <div class="fonts">
          <div class="row primary">
            <div class="column Myanmar3">
              <h2>Myanmar 1,3 <span>Version 1.358</span></h2>
              <ul class="keyboard">
                  <li class="apple"><a href="#" class="not"><span class="icon-apple">Mac</span> <em>none</em></a></li>
                  <li class="linux"><a href="#" class="not"><span class="icon-linux">Linux</span> <em>none</em></a></li>
                  <li class="windows"><a href="/{uriCurrent}/download/input?font=myanmar3-wins.zip" class="download"><span class="icon-windows">Windows</span> <em>Download</em></a></li>
              </ul>
              <ul class="typeface">
                  <li><a href="/{uriCurrent}/primary?font=Myanmar3_V1.358.ttf" class="download">Regular</a></li>
                  <li><a href="/{uriCurrent}/primary?font=Myanmar3h_V1.358.ttf" class="download">3h</a></li>
                  <li><a href="/{uriCurrent}/primary?font=Myanmar3sh_V1.358.ttf" class="download">3sh</a></li>
                  <li><a href="/{uriCurrent}/primary?font=Mm3Web_V3.000.ttf" class="download">Mm3Web</a></li>
              </ul>
              <p>
              Myanmar Natural Language Processing (NLP) Research Center is a non-profit organization (NPO) as well as a non-government organization (NGO), mostly supported by Myanmar Computer Federation. It was formed with the aim... <a href="http://www.myanmarnlp.net.mm/">more info. (myanmarnlp.net.mm)</a>
              </p>
            </div>
            <div class="column Zawgyi-One">
                <h2>Zawgyi-One <span>Version 3.1</span></h2>
                <ul class="keyboard">
                    <li class="apple"><a href="/{uriCurrent}/download/input?font=zawgyi-mac.zip" class="download"><span class="icon-apple">Mac</span> <em>Download</em></a></li>
                    <li class="linux"><a href="#" class="not"><span class="icon-linux">Linux</span> <em>none</em></a></li>
                    <li class="windows"><a href="/{uriCurrent}/download/input?font=zawgyi-wins.zip" class="download"><span class="icon-windows">Windows</span> <em>Download</em></a></li>
                </ul>
                <ul class="typeface">
                    <li><a href="/{uriCurrent}/primary?font=Zawgyi-One_V3.1.ttf" class="download">Regular</a></li>
                    <li><a href="/{uriCurrent}/primary?font=Zawgyi-One_V3.0.ttf" class="download">3.0</a></li>
                    <li><a href="/{uriCurrent}/download/primary?font=Zawgyi-One_V3.0.eot" class="download">EOT</a></li>
                </ul>
                <p>Zawgyi-One's Myanmar glyphs are designed by Zaw Win Myat of Art House. The font is produced and published by Zawgyi.net and Alpha Mandalay. It contains glyphs for English and other characters, which are from temporarily from Tahoma. <a href="http://www.alpha.com.mm/">more info. (alpha.com.mm)</a>
                <a href="http://www.zawgyi.net">zawgyi.net</a>

                </p>
            </div>
            <div class="column Paduak">
                <h2>Paduak <span>Version 3.003</span></h2>
                <ul class="keyboard">
                    <li class="apple"><a href="http://software.sil.org/downloads/r/padauk/padauk-3.003.zip" class="download"><span class="icon-apple">Mac</span> <em>Download</em></a></li>
                    <li class="linux"><a href="http://software.sil.org/downloads/r/padauk/padauk-3.003.zip" class="download"><span class="icon-linux">Linux</span> <em>Download</em></a></li>
                    <li class="windows"><a href="http://software.sil.org/downloads/r/padauk/Padauk-3.003-win.exe" class="download"><span class="icon-windows">Windows</span> <em>Download</em></a></li>
                </ul>
                <ul class="typeface">
                    <li><a href="/{uriCurrent}/primary?font=Padauk-Regular.ttf" class="download">Regular</a></li>
                    <li><a href="/{uriCurrent}/primary?font=Padauk-Bold.ttf" class="download">Bold</a></li>
                    <li><a href="/{uriCurrent}/primary?font=PadaukBook-Regular.ttf" class="download">Book</a></li>
                    <li><a href="/{uriCurrent}/primary?font=PadaukBook-Bold.ttf" class="download">Book bold</a></li>
                    <li><a href="http://software.sil.org/downloads/r/padauk/padauk-3.002-web.zip" class="download">Web</a></li>
                </ul>
                <p>
                  Padauk is a pan Burma font designed to support all Myanmar script based languages. It covers all of the Unicode Myanmar script blocks and works on all OpenType and Graphite based systems... <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=Padauk">more info. (scripts.sil.org)</a>
                </p>
            </div>
            <div class="column Commercial">
              Ads
            </div>
          </div>
          <div class="row gallery secondary">
            <ul>
              {fonts.secondary.list}
            </ul>
          </div>
          <div class="row gallery external">
            <ul>
              {fonts.external.list}
            </ul>
          </div>
        </div>
    </div>
</div>
