{fonts.detail}
<div id="content" class="portal">
    <div>
        <div class="grammar forPartsofspeech">
          <div class="row primary text-center">
            <div class="column Commercial">
              <h1>နာမ်</h1>
              <p>သက်ရှိသက်မဲ့၊ ဒြပ်ရှိဒြပ်မဲတို့၏ အမည်ဟူသမျှကို နာမ် ဟုခေါ်သည်။</p>
              <ul class="inlineBlock">
                <li>နာမ်ကို အနက်အဓိပ္ပာယ်အရ (၄) မျိုးနှင့် ဖွဲ့စည်းတည်ဆောက်ပုံအရ (၂) မျိုး ခွဲသည်။</li>
              </ul>
            </div>
          </div>
          <div class="row context?? text-center">
            <div>
              <h2>အနက်အဓိပ္ပာယ်အရ</h2>
              <ul>
                <li>
                  <div class="cellBlock"><h3>တစ်ဦးဆိုင်နာမ်</h3> တစ်ဦး၊ တစ်ယောက်၊ တစ်ခုအတွက် သီးခြား မှည့်ခေါ်ထားသောအမည်ကို တစ်ဦးဆိုင်နာမ် ဟုခေါ်သည်။</div>
                </li>
                <li>
                  <div class="cellBlock"><h3>အများဆိုင်နာမ်</h3> အများနှင့်ဆိုင်သောပုဂ္ဂိုလ်၊ သတ္တဝါ၊ အရာဝတ္ထုတို့၏ အမည်ကို အများဆိုင်နာမ် အများဆိုင်နာမ် အများဆိုင်နာမ် ဟုခေါ်သည်။</div>
                </li>
                <li>
                  <div class="cellBlock"><h3>စိတ္တဇနာမ်</h3> ဒြပ်မရှိ၊ ကိုင်တွယ်စမ်းသပ်၍မရ၊ မြင်လည်း မမြင်နိုင်၊ စိတ်ဖြင့်သာ တွေးတောသိနိုင်သော နာမ်ကို စိတ္တဇနာမ် ဟုခေါ်သည်။</div>
                </dl>
                <li>
                  <div class="cellBlock"><h3>အစုပြနာမ်</h3> အစုအပေါင်း၊ အသင်းအဖွဲ့၏အမည်ကို အစုပြနာမ် ဟုခေါ်သည်။</div>
                </li>
              </ul>

              <h2>ဖွဲ့စည်းတည်ဆောက်ပုံအရ</h2>
              <ul>
                <li>
                  <div class="cellBlock"><h3>ပင်ကိုနာမ်</h3> မြန်မာသဒ္ဒါနည်းဖြင့် ခွဲစိတ်၍လည်းမရ၊ ပေါင်းစပ်ဖွဲ့စည်းထားခြင်းလည်းမဟုတ်၊ မူလအတိုင်းဖြစ်သောနာမ်ကို ပင်ကိုနာမ် ဟုခေါ်သည်။</div>
                </li>
                <li>
                  <div class="cellBlock"><h3>ဂုဏ်ရည်ပြနာမ်</h3> ဂုဏ်အရည်အချင်းပြပုဒ်များ၏ ရှေ့၌ဖြစ်စေ၊ နောက်၌ဖြစ်စေ၊ ပစ္စည်းဆက်၍ဖြစ်လာသောနာမ်ကို ဂုဏ်ရည်ပြနာမ် ဟုခေါ်သည်။</div>
                </li>
                <li>
                  <div class="cellBlock"><h3>ကြိယာနာမ်</h3> ကြိယာပုဒ်၏ရှေ့၌ဖြစ်စေ၊ နောက်၌ဖြစ်စေ၊ ပစ္စည်းဆက်၍ဖြစ်လာသောနာမ်ကို ကြိယာနာမ် ဟုခေါ်သည်။</div>
                </li>
                <li>
                  <div class="cellBlock"><h3>ပေါင်းစပ်နာမ်</h3> ဝိဘတ်၊ ပစ္စည်း၊ သမ္ဗန္ဓတို့ကို ကြား၌မခံဘဲ နာမ်၊ ကြိယာ၊ နာမ်စား၊ နာမဝိသေသန၊ ကြိယာဝိသေသနတို့ကို ထိုက်သည့်အားလျော်စွာ ပူးတွဲထားသော နာမ်ကို ပေါင်းစပ်နာမ် ဟုခေါ်သည်။</div>
                </li>
              </ul>


            </div>
          </div>
        </div>
        <div class="grammar">
          <div class="row primary text-center">
            <div class="column Commercial">
              <h1>မြန်မာသဒ္ဒါ</h1>
              <p>အဓိပ္ပာယ်ရှိသောအသံကို အစွဲပြု၍ ရေးသားထားသောကြောင့် သဒ္ဒါဟု ခေါ်သည်။ လူတို့နှုတ်မှထွက်သောအသံတို့ကို ဆိုလိုသည့် အဓိပ္ပာယ်ရောက်အောင် စနစ်တကျ ပြောဆို
            ရေးသားရသည်။ ထိုသို့ ပြောဆိုရေးသားရာ၌ အသုံးပြုရမည့်စည်းစနစ်တို့ကို ဖော်ပြသောကျမ်းသည်
            သဒ္ဒါကျမ်းဖြစ်သည်။</p>
              <ul class="inlineBlock">
                <li><strong>အသံ</strong> နားဖြင့် ကြားသမျှကို အသံ ဟုခေါ်သည်။</li>
                <li><strong>သဒ္ဒ</strong> သဒ္ဒသည် ပါဠိစကားဖြစ်သည်။ အသံဟု အဓိပ္ပာယ်ရသည်။</li>
              </ul>
            </div>
          </div>
          <div class="row partsofspeech">
            <ul class="blockColor">
              <li>
                <a href="#">နာမ်</a>
                <p>သက်ရှိသက်မဲ့၊ ဒြပ်ရှိဒြပ်မဲတို့၏ အမည်ဟူသမျှကို နာမ် ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">နာမ်စား</a>
                <p>နာမ်၏အစားသုံးသော ပုဒ်ကို နာမ်စား ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">နာမဝိသေသန</a>
                <p>နာမ်ကို အထူးပြုသောပုဒ်ကို နာမဝိသေသန ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ကြိယာ</a>
                <p>ပြုခြင်းကိုဖြစ်စေ၊ ဖြစ်ခြင်းကိုဖြစ်စေ၊ ရှိခြင်းကိုဖြစ်စေ ပြသောပုဒ်ကို ကြိယာ ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ကြိယာဝိသေသန</a>
                <p>ကြိယာကို အထူးပြုသောပုဒ်ကို ကြိယာဝိသေသန ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ဝိဘတ်</a>
                <p>နာမ်၊ နာမ်စားတို့၏နောက်၌တည်၍ ၎င်းတို့သည် ကတ္တားဖြစ်သည်၊ ကံဖြစ်သည် စသည်ကိုလည်းကောင်း၊ ကြိယာ၏နောက်၌တည်၍ ၎င်းကြိယာ၏ကာလနှင့် အမျိုးအစားကိုလည်းကောင်း ဝေဖန်ပိုင်းခြားပြသော စကားလုံးကို ဝိဘတ် ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">သမ္ဗန္ဓ</a>
                <p>ပုဒ်အချင်းချင်းကိုဖြစ်စေ၊ ဝါကျအချင်းချင်းကိုဖြစ်စေ၊ အဓိပ္ပာယ်အချင်းချင်းကိုဖြစ်စေ ဆက်စပ်ပေးသော စကားလုံးကို သမ္ဗန္ဓ ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ပစ္စည်း</a>
                <p>နာမ်၊ နာမ်စား၊ နာမဝိသေသန၊ ကြိယာ၊ ကြိယာဝိသေသနတို့၏အဓိပ္ပာယ်ကို ထူးခြားလေးနက်အောင် ကူညီထောက်ပံ့သော စကားလုံးကို ပစ္စည်း ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">အာမေဍိတ်</a>
                <p>ထိတ်လန့်ခြင်း၊ ဝမ်းသာခြင်း၊ အံ့သြခြင်းစသည့် တစ်စုံတစ်ခုသောအကြောင်းကြောင့် ပြင်းပြင်းထန်ထန် စိတ်လှုပ်ရှားကာနှုတ်မှ ရုတ်တရက် ထွက်ပေါ်လာသောအသံကို အာမေဍိတ် ဟုခေါ်သည်။</p>
              </li>
            </ul>
          </div>
          <div class="row external">
            <dl>
              d
            </dl>
            <ul class="cellDime">
              <li>
                <a href="#">အက္ခရာ</a>
                <p>လူတို့နှုတ်မှ ထွက်သော အသံတို့ကို နားဖြင့်ကြားရသည်။ ထိုအသံတို့ကို ကိုယ်စားပြုထားသည့် အမှတ်သင်္ကေတများကို အက္ခရာ  ဟုခေါ်သည်။ "က၊ ခ၊ ဂ၊ ဃ၊ င" စသော အမှတ်သင်္ကေတများသည် အက္ခရာများဖြစ်ကြသည်။ ထိုအက္ခရာများကို စာရေးသားရာတွင် အသုံးပြုကြရသည်။</p>
              </li>
              <li>
                <a href="#">စကားလုံး</a>
                <p>အနက်အဓိပ္ဂာယ်ကို ဖော်ပြနိုင်သော စကားအစိတ်အပိုင်း အသီးသီးကို စကားလုံး ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ပုဒ်</a>
                <p>သီးခြားစကားလုံးကိုလည်းကောင်း၊ သီးခြားစကားလုံးနှင့် အကူစကားလုံးတို့ကို တွဲစပ်ထားသော စကားလုံးတို့ကို လည်းကောင်းပုဒ် ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ပုဒ်စု</a>
                <p>ပုဒ်(၂)ပုဒ်၊ (၃)ပုဒ် စသည်တို့၏အကြား၌ ဝိဘတ်၊ ပစ္စည်း၊ သမ္ဗန္ဓတစ်ခုခုကိုထားလျက်ဖြစ်စေ၊ ပုဒ်(၂)ပုဒ်၊ (၃)ပုဒ် စသည်တို့၏ နောက်၌ သမ္ဗန္ဗ(၂)ခု၊ (၃)ခု စသည်တို့ကို ထားလျက်ဖြစ်စေ ဆက်ထားသောပုဒ်ကို ပုဒ်စု ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ပုဒ်ဖြတ်ပုဒ်ရပ်</a>
                <p>မြန်မာစာရေးသားရာ၌ အဓိပ္ပာယ်ရှင်းလင်းစေရန် ပုဒ်ကလေး၊ ပုဒ်မ၊ ဝိုက်ကွင်းစသော သင်္ကေတများကို အသုံးပြု၍ ရေးရသည်။ ထိုသင်္ကေတများကို ပုဒ်ဖြတ်ပုဒ်ရပ်သင်္ကေတများ ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ဝါကျ</a>
                <p>ဆိုလိုသည့်အဓိပ္ပာယ်ရောက်အောင် စနစ်တကျ စီစဉ်ထားသော ပုဒ်အစုအပေါင်းကို ဝါကျ ဟုခေါ်သည်။ ဝါကျတစ်ခုတွင် အနည်းဆုံး ကတ္တားတစ်ခုနှင့် ကြိယာတစ်ခု ပါဝင်သည်။</p>
              </li>
              <li>
                <a href="#">ကာလ</a>
                <p>ကြိယာ၏ပြုခြင်း၊ ဖြစ်ခြင်း၊ ရှိခြင်းနှင့် စပ်ဆိုင်သော အချိန်ကို ပြသည်။</p>
              </li>
              <li>
                <a href="#">လိင်</a>
                <p>အထီးအမသဘာဝကို လိင် ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ကိန်း</a>
                <p>အရေအတွက်ကို ကိန်း ဟုခေါ်သည်။</p>
              </li>
              <li>
                <a href="#">ဝါစင်္ဂ</a>
                <p>ဝါစင်္ဂ သည် ဝါစာနှင့် အင်္ဂ ပေါင်းစပ်ထားသော ပါဠိစကား ဖြစ်သည်။ ဆိုလိုသည့် အဓိပ္ပာယ်ရောက်အောင် ပြောဆိုသောစကား၏ အစိတ်အပိုင်းကို ဝါစင်္ဂဟု ခေါ်သည်။</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>
