<div id="content" class="portal home bg-color">
    <div class="resize center">
        <div class="modest">
          <div class="logo">
            {menu.dictionary}
          </div>
          <div class="search">
            <form name="search" method="get" action="/definition">
                <p>
                    <input type="search" name="q" value="{q}" placeholder=" ...">
                </p>
                <p>
                    <button type="submit" id="search">&#xe83d;</button>
                </p>
                <div id="suggest"></div>
            </form>
          </div>
        </div>
    </div>
</div>
