<div id="footer" class="portal">
    <div>
        <div class="responsive">
          {menu.locale}
          <ol class="served">
              <li class="hits">
                <span class="user" title="Overall hits">{visits.sum}</span> <span class="Hited by" title="">{visits.total}</span>
                <span>served</span>
              </li>
          </ol>
          <ol class="copyright">
              <li class="copyright">{Copyright notice}</li>
          </ol>
          {menu.privacy}
        </div>
    </div>
</div>
