<div id="footer" class="portal">
    <div class="resize">
        <div class="wrapper">
            <div class="main">
                <ul>
                    <li class="lang">{menu.locale}</li>
                    <li class="served">
                        <ol>
                            <li class="hits">
                              <span class="user" title="Overall hits">{visits.sum}</span> <span class="Hited by" title="">{visits.total}</span>
                              served, <a href="//www.zotune.com" target="_blank">lethil.me</a>
                            </li>
                        </ol>
                    </li>
                    <li class="copyright">
                      <ol>
                          <!-- menu.password -->
                          <li>{Copyright notice}</li>
                          <li>{menu.password}</li>
                          <li>{menu.definition}</li>
                          <li>{menu.privacy}</li>
                      </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>