<div id="bar" class="portal">
    <div>
        <div class="navigate">
            <div class="column">
                <ul>
                    <li class="actives">
                        <div class="icon-panel"></div>
                        {menu.page}
                    </li>
                </ul>
            </div>
            <div class="column">

                <ul>
                    <li class="actives">
                        <div class="icon-user"><span style="display:none">...</span></div>
                        {menu.user}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
