<div id="content" class="portal">
    <div class="resize">
        <div class="wrapper">
          <form method="POST">
              <h2>{Reset your Password}</h2>
              <div class="{resetpassword.class.code}">
                  <span>{Code}</span>
                  <input type="text" size="26" name="code" value="{resetpassword.value.code}" {resetpassword.visibility.code}>
                  <em>{resetpassword.mask.code}</em> {resetpassword.visibility.code}
              </div>
              <div class="{resetpassword.class.password}">
                  <span>{Password}</span>
                  <input type="text" size="26" name="password">
                  <em>{resetpassword.mask.password}</em>
              </div>
              <div class="submit">
                  <input type="submit" name="resetpassword" value="{Reset password}">
              </div>
              {resetpassword.form.message}
          </form>
        </div>
    </div>
</div>
