<div class="system">
    <h4>System</h4>
    <ul>
        <li>MyOrdbok v3.2.67 is running on letId v1.6.6. letId is PHP/MySQL CMS, which can run on Google App Engine and Apache.</li>
        <li>MyOrdbok v3.2.67 is running on ZOTUNE.developer v1.6.6. ZOTUNE.developer is PHP/MySQL CMS, which can run on Google App Engine and Apache.</li>
        <li>0:inactiveMember; 1:Subscriber; 2:Contributor; 3:Author; 4:Editor; 5:Administrator;</li>
        <li>memb, subs, cont, auth, edit, admi, user,page, site, sign</li>
        <li>admin, manage, service, profile, account, account</li>
        <li class="name">Username <span>khensolomon/Male/Lethil/Nahnuai</span></li>
    </ul>
</div>