<div id="content" class="portal">
    <div class="resize centers">
        <div class="wrapper">
          <form method="POST" name="signup">
              <h2>{Signup}: just sign-in with Google+, sign-up require no more</h2>
              <div class="socialnetwork">
                  <div class="google">
                    <a href="{authGoogleUrl}" class="icon-google-plus">sign-in with Google+</a>
                  </div>
              </div>
              {signup.form.message}
          </form>
        </div>
    </div>
</div>
