<div id="content" class="portal">
    <div class="resize">
        <div class="define">
            <dl class="dl word">
                <dt class="dt"><p>{q}<span class="speech {lang} zA icon-sound"></span></p></dt>
                <dd class="dd">
                    <dl class="helps">
                      <dt>
                        <span>In order to get the most relevant definition...</span>
                      </dt>
                      <dd>
                        <p>...try with general words!</p>
                        <p>...check the spelling!</p>
                        <p>...make sure that you are defining <strong>{q}</strong> in {lang.name}!</p>
                      </dd>
                    </dl>
                    <dl class="helps">
                      <dt>
                        <span>Help us!</span>
                      </dt>
                      <dd class="word help zO" data-word="{q}"></dd>
                    </dl>
                </dd>
            </dl>
        </div>
    </div>
</div>
