
.icon-star:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-quote:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-android:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-refresh:before { content: '\e824'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-dot3:before { content: '\e83a'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-lookup:before { content: '\e83d'; } /* '' */
.icon-slim-right:before { content: '\f006'; } /* '' */
.icon-slim-left:before { content: '\f007'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */