ul{
  >li{
    padding: 7px 0;
    display: inline-block;
    >div{
      font-size: 20px;
      // background-color: red;
      // text-align: center;
      max-width: 30px;
      padding: 2px 7px;
      color: $ColorMain;
    }
    // @include user-select();
    >ol{
      display: none;
    }
    &.active, &:hover{
      >ol{
        display: block;
        position: absolute;
        width: 180px;
        top:100%;
        left:0px;
        background-color:lighten($ColorMain,15%);border-top:1px solid $ColorMain;
        &:after,&:before{
          position:absolute;display:block;pointer-events:none;content:" ";width:0px;height:0px;text-align:center;border:solid transparent;
        }
        &:before{
          border-bottom-color:darken($ColorMain,20%);border-width:5px;left:calc(10% - 1px);top:-10px;
        }
        &:after{
          border-bottom-color:lighten($ColorMain,15%);border-width:4px;left:10%;top:-8px;
        }
      }
    }
  }
}
ol{
  >li{
    >a{
      display: block;padding: 10px;
      color: #fff;font-size:12px;
      border-bottom: 1px solid lighten($ColorMain,35%);
    }
    &:last-child, &.hasChild{
      >a{
        border-bottom: 0px;
      }
    }
    >ol{
      padding:2px;
      border-top: 1px solid lighten($ColorMain,35%);
      >li{
        >a{
          border-bottom: 1px solid lighten($ColorMain,35%);
        }
        &:last-child{
          >a{
            // border-bottom: 0px;
          }
        }
      }
    }
  }
  &.menu{
    &.page{
    }
    &.user{
      right:0px; left: auto;
      &:before{
        left:calc(87% - 1px);
      }
      &:after{
        left:87%;
      }
    }
  }
}
