ul{
  >li{
    >div{
      display: none;
    }
  }
}
ol{
  display:table; vertical-align: middle; margin: 5px 0;
  li{
    display:table-cell; padding: 5px 0;height:25px;vertical-align: inherit; position: relative;
    a{
      display: block; padding:3px 7px; font-size: 13px; color: #2c312b; line-height: 19px; white-space: nowrap; overflow: hidden; font-variant: normal; position: inherit;
    }
    &:hover{
      >a{
        color:#236ea9;
      }
    }
    ol{
      display:none;
      position:absolute;top:88%; left:-1px;width: 100%;background-color:lighten($ColorMain,15%);
      &:after,&:before{
        position:absolute;display:block;pointer-events:none;content:" ";width:0px;height:0px;text-align:center;vertical-align:middle; border:solid transparent;
      }
      &:before{
        border-bottom-color:darken($ColorMain,20%);border-width:5px;right:calc(78% - 1px);top:-10px;
      }
      &:after{
        border-bottom-color:lighten($ColorMain,15%);border-width:4px;right:78%;top:-8px;
      }
      li{
        display:table-row;padding:0px;

        a{
          color: #fff;font-size:12px;padding:7px 7px;
          border-bottom: 1px solid lighten($ColorMain,35%);
        }
        &:last-child{
          a{
            border-bottom: 0px;
          }
        }
      }
    }
    &:hover{
      ol{
        display:table;
      }
    }
  }
  >li{
    &.active{
      >a{ color: #236ea9;}
      &.hasChild{
        >a{
          &:after{
            border-top-color:#236ea9;
          }
          &:hover{
            &:after{border-top-color:#236ea9;}
          }
        }
      }
    }
    &.hasChild{
      >a{
        position: relative; padding-right:15px;
        &:after{
          position:absolute;content:"";border:solid transparent;border-top-color:#2c312b;border-width:4px;right:4px;top:12px;
        }
      }
    }
  }
  &.menu{
    &.page{
      >li{
        border-bottom:1px solid $ColorMain;
        >a{
          border-left:1px solid #d6d4d4; font-weight: bold;
        }
        &:first-child{
          >a{
            border-left: 0;
          }
        }
        &.active{
          border: 0;
          &:not(:first-child){
            border-left-width: 1px;border-right-width: 1px;border-style: solid;
              -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from($ColorMain), to(rgba(0, 0, 0, 0))) 7 100%;
              -webkit-border-image: -webkit-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
              -moz-border-image: -moz-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
              // -o-border-image: -o-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
              border-image: linear-gradient(to top, $ColorMain, rgba(0, 0, 0, 0)) 7 100%;
            >a{ border: 0;}
            + li>a{ border-left: 0;}
          }
          &:first-child, &:last-child{
            border-style: solid;
            -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from($ColorMain), to(rgba(0, 0, 0, 0))) 7 100%;
            -webkit-border-image: -webkit-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
            -moz-border-image: -moz-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
            // -o-border-image: -o-linear-gradient($ColorMain, rgba(0, 0, 0, 0)) 7 100%;
            border-image: linear-gradient(to top, $ColorMain, rgba(0, 0, 0, 0)) 7 100%;
          }
          &:first-child{
            border-right-width: 1px;
            + li>a{
              border-left: 0;
            }
          }
          &:last-child{
            border-left-width: 1px;border-right: 0;
            a{border: 0;}
          }
        }
        &:hover{
          &.hasChild{
          }
        }
      }
    }
    &.user{
      >li{
        a{
          font-size: 12px; color: #A3A3A3;
        }
        &.signin{
          // max-width:30px;
          a{
            &:before{
              box-shadow:inset 0px 1px 1px 0px #666;
              background-color: $ColorMain;
              color: #fff;
              border-radius:2px;
              width: 20px; height: 20px;
              content: '\f061';
              font-family: "myordbok";
              font-style: normal;
              font-weight: normal;
              speak: none;
              font-size: 1.2em;
              padding:1px;
              display:block;
              text-decoration: inherit;
              text-align: center;
            }
            &:hover{
              &:before{
                color: #C5C5C5;
              }
            }
            span{
              display: none;
            }
          }
        }
        &.signup{
          width: 100%;
          a{
            padding:5px 0px;
          }
          &:hover{
            a{
              color: $ColorMain;
            }
          }
        }
        &.hasChild{
          >a{
            padding-right:25px;
            span{
              // color: #fff;
              display: block; max-width: 150px; text-overflow: ellipsis; overflow: hidden;
            }
            &:after{
              background-color: lighten($ColorMain,10%);
              right:1px;top:2px; width:19px; height:19px;border:0px;border-radius:10px;
              content: '\f061';
              font-family: "myordbok";
              font-style: normal;
              font-weight: normal;
              color: #fff;
              speak: none;
              font-size: 1em;
              line-height: 18px;
              display: block;
              text-decoration: inherit;
              text-align:center;
            }
          }
          &:hover{
            >a{
              color: $ColorMain;
              &:after{
                background-color: $ColorMain;
              }
            }
          }
          &.active{
            >a{
              color:#236ea9;
              &:after{
              }
            }
          }
          ol{
            width: auto;
            max-width: 200px;
            right:0px;  left: auto; top:80%;
            border-top:1px solid $ColorMain;
            &:before{
              right:calc(13% - 1px);
            }
            &:after{
              right:13%;
            }
            li{
              a{
                span{
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
