form[name=search]{
  position:  inherit;
  display:table;
  z-index:0;
  width: 100%;
  background-color: #fff;
  // @include box-shadow(0px, 0px, 1px, 1px, darken(#ccc,10%));
  @include box-shadow(0px, 0px, 0px, 1px, darken(#ccc,5%));
  >p{
    display:table-cell;vertical-align:middle;
    height:100%;
    input,button{
      display: block;
      outline: none;border: 0px;
      font-size: 16px; height:34px; line-height: 34px;
      &[type=search]{
        font-weight: normal;
        width: 98%; margin: 0 auto; padding-left:3px;
        &::selection{
          background: #569ed7; color: #FFF;
        }
      }
      &[type=submit]{
        font-size: 20px;
        text-shadow: #666 0px 1px 1px;
        color: $ColorMain;
        background-color: #fff;
        font-family: "myordbok";
        text-shadow: #ccc 1px 1px 1px;
        width: 50px;
        // border-left:1px solid lighten($ColorMain,30%);
        border-left:1px solid lighten(#ccc,2%);
        background-color: lighten(#ccc,16%);
        &:hover{
          color: darken($ColorMain,10%);
        }
      }
    }
    &:first-child {
       width:100%;
    }
  }
  div{
    &#suggest{
      display:block;
      position:absolute;width:100%;left:0px;top:calc(100% + 1px);  background-color:#fff;line-height:19px;font-size:14px;
      @include box-shadow(0px, 1px, 0px, 1px, darken(#ccc,10%));
      border-radius: 0 0 2px 2px;
      overflow: hidden;
      p{
        display:block;padding:1px 2%;color:#666;cursor:pointer; line-height: 24px;
        b{
          color:darken($ColorMain,10%);text-shadow:#ccc 0px 0px 1px;font-weight:normal;
        }
        &.selected{ color: #0661a9;background-color: lighten($ColorMain,40%); }
        &:last-child{margin-bottom:1px;}
      }
      &:empty{
        display: none;
      }
    }
  }
}
