
div.column {
  ol#MyOrdbok-logo{
    display: none;
  }
  form[name=search]{
    // width: 98%; margin:2px 1%;
    >p{
      button{
        &[type=submit]{
          width: 35px;
          border:0;
          background-color: #fff;
        }
      }
    }
  }
}
