// @at-root div.red & {
//   background-color: red;
// }
// @at-root div.portal{
//   &.details {
//     background-color: red;
//   }
// }
&.fonts {
  // display: block;
  >div.row{
    // background-color: red;
    text-align: center;
    padding: 1%;
    display: block;
    >div.column{
      margin: 1%;
      vertical-align: middle;
      display:inline-block;
      // background-color: #ccc;
      width: 20%;
      max-width: 500px;
      min-width: 300px;

    }
    &.primary {
      >div {
        min-height: 350px; padding: 1%;
        box-shadow:inset 0px 0px 1px 0px #e0dfdf; border:1px solid #e2e2e2; border-radius:1px;
        h2{
          display: block; padding:4px 1px; color: #666;
          text-shadow: #FFFFFF 1px 1px 1px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
          font-size: 110%;font-weight: normal;
          span{
            display: block; margin-top:7px; padding-top:7px; border-top: 1px solid #C5C9B6;
            font-size: 70%;
          }
        }
        ul{
          list-style:none;
          li {
            display:block; margin:5px 0; color: #666666;
            a{
              display: table; color: #039;
              margin: 0 auto;
              font-size: 90%;
              span,em{
                display:table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
              }
              span{
                padding-right: 4px;
                &:before {
                  color: $ColorMain;
                }
              }
              em {
                font-size: 75%;font-style: normal;
                min-width:30px; padding:2px 7px; border-radius:20px; color: #FFF; text-shadow: #666 0px 0px 1px; background-color: $ColorMain;
              }
              &:hover em{ background-color: #74AEDE; }
              &.not {
                cursor: default; color: lighten(#666,20%);
                span{
                  &:before {
                    color: lighten(#666,20%);
                  }
                }
                em {
                  background-color: lighten(#666,30%);
                }
              }
            }
          }
          &.keyboard{}
          &.typeface{
            padding: 2%;
            li {
              margin:3px 0; display: inline-block;
              a{
                font-size: 80%;
                background-color: lighten($ColorMain,10%);
                padding: 3px 10px;
                border-radius: 20px;
                // color: #333;
                // text-shadow: 0px 0px 1px #fff;
                color: $ColorBackground;
                text-shadow: 0px 0px 1px $Color;
                &:hover {
                  color: darken($ColorBackground,10%);
                  background-color: lighten($ColorMain,20%);
                }
              }
            }
          }
        }
        p{
          display: block; padding: 2% 7%; border-top: 1px solid #EBECE6; font-size: 90%;
          a {
            display:block; padding-top:3%; margin-top:2%; border-top: 1px solid #EBECE6;color: #039; text-shadow: #FFFFFF 1px 1px 1px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &.gallery {
      ul {
        // background-color: red;
        display: block; list-style: none;
        li {
          display: inline-block;
          white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
          max-width:350px; width:94%; padding: 2%; margin: 1%;
          // background-color: #ccc;
          background-color:lighten(#ccc,17%);
          // background-color: #f9f9f9;
          position: relative;
          border-radius: 2px;  line-height: 19px;box-shadow:inset 0px 0px 1px 1px #ccc;
          a{
            display: inline-block;
            &.dt{
              color: #039;
              &:hover{
                color: #03C;
                text-decoration: underline;
              }
              &:visited {
                color: #666666;
              }
              &.y{
                &::after{
                  content:attr(data-total);
                  position: absolute;
                  display: inline-block;
                  padding: 1px 5px;
                  border-radius: 2px;
                  font-size: 65%;
                  line-height:14px;
                  color: #fff;
                  margin-left: 2px;
                  text-shadow: #666 0px -1px 1px;
                  background-color: lighten($ColorMain,18%);
                }
              }
            }
            &.dl{
              position: absolute; top: 5px; right: 5px; width: 18px; height: 18px; overflow: hidden;
              color: lighten($Color,30%);
              &:before {
                padding:1px 0px; margin: 1px;
                font-size: 100%;
              }
              &:hover{
                color: $ColorMain;
              }
              &[href="#"] {
                display: none;
              }
            }
          }
          p{
            font-size: 80%; line-height: 15px; padding: 0px 5px;
            &.f2{
              font-size: 70%;
              color: #666;
            }
          }
        }
      }
    }
    &.secondary {
      ul{
        li {
          a {
            &.dt {
              font-size: 120%; font-weight: normal;
            }
          }
          p {}
        }
      }
    }
    &.external {
      ul{
        li {
          width:96%; padding: 1%; margin: 2px;
          background-color:lighten(#ccc,19%);
          a {}
          p {}
        }
      }
    }
    &.info {
      padding:0%;
      font-size: 100%;
      >div {
        >* {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h1{
          // NOTE: font-family
          font-size:calc(3vw + 110%);
          line-height: 130%;
          // text-shadow: #000 0px 1px 1px; color: #ccc;
          text-shadow: #000 0px -1px 1px; color: lighten(#666,25%);
        }
        h2{
          // NOTE: font-subfamily
          font-size:calc(1vw + 15px);
          text-shadow: #000 0px 1px 0px; color: #ccc;
        }
        h3{
          // NOTE: unique-identifier
          font-size:80%;
          color: #666;
        }
        h4{
          // NOTE: full-name
          font-size:calc(1vw + 90%);
          color: #666;
        }
        h5{
          // NOTE: version
          font-size:calc(1vw + 60%);
          color: #666;
        }
        h6{}
        p{
          color: #666;
        }
        a{
          display: inline-block;
          white-space: nowrap;
          color: $ColorMain;
          max-width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }

        &.font-family {
          h1{}
        }
        &.font-subfamily {
          h2{}
        }
        &.unique-identifier {
          h3{}
        }
        &.full-name {
          h4{}
        }
        &.postscript-name {
          p{}
        }
        &.name {
          p{}
        }
        &.version {
          p{}
        }
        &.note {
          p{}
        }
        &.company {
          p{}
        }
        &.owner {
          p{}
        }
        &.url {
          p{}
        }
        &:empty{
          display: none;
        }
      }
    }
    &.more {
      margin: 0 auto;
      max-width: 630px;
      // box-shadow: 0px 1px 2px 1px #ccc; border-radius: 3px;
      >div.toggle {
        position: relative;
        >ul {
          margin-bottom: 1%;
          li {
            @include user-select();
            list-style:none;
            display: inline-block;
            margin:1%;
            padding: 5px 5%;
            // background-color: red;
            border-top: 2px dashed #ccc;
            border-bottom: 2px dashed #ccc;
            &:hover {
              border-top-color:red;
              border-bottom-color:red;
            }
            &.active{
              border-top-color:$ColorMain;
              border-bottom-color:$ColorMain;
            }
            &[data-toggle] {
              cursor: default;
            }
            &.download{
              border-top-color:lighten($ColorMain,20%);
              border-bottom-color:lighten($ColorMain,20%);
              a {
                color: lighten($ColorMain,7%);
              }
              &:hover{
                border-top-color:darken($ColorMain,20%);
                border-bottom-color:darken($ColorMain,20%);
                a {
                  color: darken($ColorMain,20%);
                }
              }
            }
          }
        }
        >div{
          background-color: #fff;
          position: absolute;
          z-index: 999;
          box-shadow: 0px 1px 2px 1px #ccc; border-radius: 3px;
          padding:5%;
          width: 90%;
          display: none;
          // text-align: justify;
          div {
            display: none;
            h3{
              padding:3%;
              color: lighten(#666,15%);
            }
            p{
              padding:1% 1%;
            }
          }
        }
      }
    }
    @media #{$media-mobile} {
      padding: 0%;
      >div.column{
        margin:3% 0%;
        width: 100%;
        min-width: 300px;
      }
      &.primary {
        >div {
          padding: 0%;
          box-shadow:inset 0px 0px 0px 0px #e0dfdf; border:0px solid #e2e2e2;
          >h2 {
            // display: block; margin-top:7px;
            padding-top:7px;
            border-top: 1px dotted #C5C9B6;
          }
        }
      }
      &.gallery {
        ul {
          li {
            display:block;
            max-width: 100%;
            background-color:transparent;
            border-bottom: 1px dotted #ccc;
            box-shadow:inset 0px 0px 0px 0px #ccc;
            &:last-child{
              border-bottom: 0;

            }
          }
        }
      }
    }
  }
}
