&.docs{
  padding: 2% 1%;
  h1{
    padding: 2%;
  }
  h2{
    padding: 2% 3%;
    color: #666;
  }
  h3{
    padding: 2% 4%;
    color: #666;
  }
  p{
    padding: 1% 5%;
  }
  ul{
    margin: 20px 40px;
    li{
      padding: 3px 7px;
    }
  }
}
