<div id="content" class="portal">
    <div class="resize">
        <div class="wrapper">
          <form method="POST">
              <h2>{Forgot your Password}</h2>
              <div class="{forgotpassword.class.email}">
                  <span>{Email}</span>
                  <input type="text" size="26" name="email" value="{forgotpassword.value.email}">
                  <em>{forgotpassword.mask.email}</em>
              </div>
              <div class="submit">
                  <input type="submit" name="forgotpassword" value="{Send password}">
              </div>
              {forgotpassword.form.message}
          </form>
        </div>
    </div>
</div>
