<div class="administration">
  <ul class="import">
    <li class="msg"></li>
    <li>
      <ul>
        <li data-task="resetId" class="admin import zA icon-refresh">Reset ID</li>
        <li class="admin importMsgRset zA">Clear Message</li>
      </ul>
    </li>
    <li>
      <!-- working error, done classes are available! -->
      <ul>
        <li data-task="updateId" class="admin import zA icon-slim-right">Update WID</li>
        <li data-task="word" class="admin import zA icon-slim-right">Word</li>
        <li data-task="sense" class="admin import zA icon-slim-right">Sense</li>
        <li data-task="exam" class="admin import zA icon-slim-right">Usage</li>
        <li class="admin import zA all">All in one (Import)</li>
      </ul>
    </li>
  </ul>
</div>