<div class="status">
    <h4>Status</h4>
    <ul>
        <li>
            <p><a class="shr_email private" href="?public=shr_email"><span class="first">Private</span> E-mail</a></p>
            <p><a class="shr_tel public" href="?private=shr_tel"><span class="first">Public</span> Telephone</a></p>
            <p><a class="shr_photo public" href="?private=shr_photo"><span class="first">Public</span> Photo Gallery</a></p>
            <p><a class="shr_me public" href="?private=shr_me"><span class="first">Public</span> Profile</a></p>
            <p><a class="shr_playlist public" href="?private=shr_playlist"><span class="first">Public</span> Playlist</a></p>
            <p><a class="shr_homepage public" href="?private=shr_homepage"><span class="first">Public</span> Homepage</a></p>
        </li>
    </ul>
</div>