<div id="content" class="portal">
    <div class="resize">
        <div class="wrapper">
          <form method="POST">
              <h2>{Signin}</h2>
              <div class="{signin.class.email}">
                  <span>{Email}</span>
                  <input type="text" size="26" name="email" value="{signin.value.email}">
                  <em>{signin.mask.email}</em>
              </div>
              <div class="{signin.class.password}">
                  <span>{Password}</span>
                  <input type="password" size="26" name="password" value="{signin.value.password}">
                  <em>{signin.mask.password}</em>
              </div>
              <div class="submit">
                  <input type="submit" name="signin" value="{Signin}">
              </div>
              <div class="socialnetwork">
                  <div class="google">
                    <a href="{authGoogleUrl}" class="icon-google-plus">Sign in with Google</a>
                  </div>
                  <div class="facebook">
                    <a href="#" class="icon-facebook">Sign in with Facebook</a>
                  </div>
                  <div class="twitter">
                    <a href="#" class="icon-twitter">Sign in with Twitter</a>
                  </div>
              </div>
              {signin.form.message}
          </form>
        </div>
    </div>
</div>
